.heroContainer {
    position: relative;
    height: 100vh;
    @include flex-centered(column, space-between, stretch);
    text-align: center;
    @include media('tablet') {
        text-align: initial;
    }
}
.heroImage {
    object-fit: cover;
    @include media('custom', 1900) {
        object-fit: fill;
    }
}
