.heroTextContainer {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 350px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    z-index: 1;
}

.button {
    background: $main-color;
    color: $main-font-color;
    padding: 15px 40px;
    border: none;
    font-weight: bold;
    font-size: large;
    border: 1px solid $secondary-color;
}
