.heroTextContainer {
    z-index: 1;
    position: relative;
    max-width: 600px;
    display: flex;
    flex-flow: column;
    min-height: 250px;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
//     margin-bottom: 30px;
}

.button {
    background: $main-color;
    color: #000000;
    padding: 15px 40px;
    border: none;
    font-weight: bold;
    font-size: large;
}