.heroTextContainer {
    @include flex-centered(column, space-between);
    position: relative;
    min-height: 350px;
    margin-bottom: $margin-xxl;
    z-index: 1;
}

.button {
    background: $main-color;
    color: $main-font-color;
    padding: $padding-m $padding;
    border: none;
    font-weight: bold;
    font-size: large;
    border: 1px solid $secondary-color;
}
