$main-color: #fac414;
$secondary-color: #292524;
$ternary-color: #ffffff;

$main-font-color: #000000;
$secondary-font-color: #ffffff;

$content-width: 1366px;

$padding-m: 1rem;
$padding: 2rem;
$padding-l: 4rem;

$margin: 1rem;
$margin-l: 2.5rem;
$margin-xxl: 6.5rem;

$logo-width: 120px;
