$main-color: #fac414;
$secondary-color: #292524;

$main-font-color: #000000;
// $font-family-main: 'Josefin Sans', sans-serif;

$content-width: 1366px;

// $padding-s: 0.5rem;
$padding-m: 1rem;
$padding: 2rem;
// $padding-ml: 3rem;
$padding-l: 4rem;
// $padding-xl: 5rem;

$margin: 1rem;
// $margin-m: 1.5rem;
$margin-l: 2.5rem;
$margin-xxl: 6.5rem;

// $font-size-xxs: 1.15rem;
// $font-size-xs: 1.3rem;
// $font-size-s: 1.5rem;
// $font-size-sm: 1.8rem;
// $font-size-m: 2.2rem;
// $font-size-l: 3rem;
// $font-size-xl: 3.5rem;

// $font-weight-200: 200;
// $font-weight-400: 400;
// $font-weight-500: 500;
